# this config needs haproxy-1.1.28 or haproxy-1.2.1 
global
        nbproc 1
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        #log loghost    local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        pidfile /var/run/haproxy.pid
        stats socket /root/haproxy.sock
        #debug
        quiet

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

listen webstats
        bind 0.0.0.0:1000
        stats enable
        mode http
        stats uri /lb?stats
        stats auth anand:anand
 
listen web-farm 0.0.0.0:80
             mode http
             balance roundrobin
             option httpchk HEAD /index.php HTTP/1.0
server 128.111.55.229  128.111.55.229:80 maxconn 10
server 128.111.55.210  128.111.55.210:80 maxconn 10
